Repository ucdavis/wucols-backend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-export.yml, azure-pipelines-proxy.yml

azure-pipelines-export.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: 14.x
        displayName: Install Node.js
  ...

azure-pipelines-proxy.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: DotNetCoreCLI@2
        displayName: Build
        inputs:
          command: build
          projects: '$(workingDirectory)/*.csproj
  
            '
  ...

Try to fix pipeline deploy conditions
  azure-pipelines-export.yml
  azure-pipelines-proxy.yml
Due: azure-pipelines-export.yml, azure-pipelines-proxy.yml

Add sort by botanicalName
  wucols-export/wucols-export/get-data.ts
Due: azure-pipelines-export.yml

Don't append ix to image captions/filenames
  wucols-export/wucols-export/get-data.ts
Due: azure-pipelines-export.yml

Prefer Alt field for image caption
  wucols-export/wucols-export/get-data.ts
Due: azure-pipelines-export.yml

Run export every 30 minutes
  wucols-export/wucols-export/function.json
Due: azure-pipelines-export.yml

Remove unused extension bundle
  wucols-export/host.json
Due: azure-pipelines-export.yml

Allow water use fields to be blank.
  wucols-export/wucols-export/get-data.ts
Due: azure-pipelines-export.yml

Change export schedule back to daily
  wucols-export/wucols-export/function.json
Due: azure-pipelines-export.yml

Upgrade node to 18.x
  .vscode/settings.json
  .vscode/tasks.json
  azure-pipelines-export.yml
  wucols-export/.npmrc
  wucols-export/package-lock.json
  wucols-export/package.json
Due: azure-pipelines-export.yml

Add note about updating node runtime version
  wucols-export/README.md
Due: azure-pipelines-export.yml

Also tweak pipeline badges
  README.md
Due: none

WIP - Include unpublished data in export
  wucols-export/wucols-export/get-data.ts
Due: azure-pipelines-export.yml

Update data-lookups and add a csv-json converter tool
  tools/city-csv-to-json.js
  wucols-export/wucols-export/data-lookups.json
Due: azure-pipelines-export.yml

Add missing city data
  wucols-export/wucols-export/data-lookups.json
Due: azure-pipelines-export.yml

Use service connection name instead of ID
  azure-pipelines-export.yml
  azure-pipelines-proxy.yml
Due: azure-pipelines-export.yml, azure-pipelines-proxy.yml

Update proxy function to net8.0
  wucols-proxy/wucols-proxy.csproj
Due: azure-pipelines-proxy.yml

Try to fix proxy function
  azure-pipelines-proxy.yml
  wucols-proxy/Program.cs
  wucols-proxy/host.json
  wucols-proxy/wucols-proxy.csproj
  wucols-proxy/wucols_proxy.cs
Due: azure-pipelines-proxy.yml

It's not a web project
  azure-pipelines-proxy.yml
Due: azure-pipelines-proxy.yml

Try to publish with same settings as cli publish.
  azure-pipelines-proxy.yml
Due: azure-pipelines-proxy.yml

Build with explicit script
  azure-pipelines-proxy.yml
Due: azure-pipelines-proxy.yml

Add a bit more debug output
  azure-pipelines-proxy.yml
Due: azure-pipelines-proxy.yml

Path conditions:
  azure-pipelines-export.yml: any of: wucols-export, azure-pipelines-export.yml
  azure-pipelines-proxy.yml: any of: wucols-proxy, azure-pipelines-proxy.yml, but not: wucols-export, azure-pipelines-export.yml
